<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autotextapp">

    <!--Needs to receive the sms message to be able to read it aloud and text the number back -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--needs to be able to text back after receiving a message-->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <!--to be able to receive a call and text it right away-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoTextApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AutoTextReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <!--also may need the phone state -->
            </intent-filter>
        </receiver>

    </application>

</manifest>